BeautifulSoup==3.2.1
Flask==0.10.1
Flask-Login==0.2.9
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.18
SQLAlchemy==0.9.1
Werkzeug==0.9.4
beautifulsoup4==4.3.2
foursquare==2014.01.18
httplib2==0.8
itsdangerous==0.23
requests==2.2.1
six==1.5.2
twilio==3.6.4
unittest2==0.5.1
wsgiref==0.1.2
