<!doctype html>
<title>Insert App Title Here</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>Insert App Title Here</h1>
    <div class=metanav>
    {% if not session.logged_in %}
        {% if page == 'login' %}
        <a href="{{ url_for('signup') }}">sign up</a>
        {% else %}
        <a href="{{ url_for('login') }}">log in</a>
        {% endif %}
    {% else %}
        <a href="{{ url_for('logout') }}"> log out</a>
    {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
