{% extends "base.html" %}
{% block content %}
    <p>If this is your first visit to Hypnotoad please
    <a href="{{ url_for('signup') }}">sign-up</a> for your
    customized weather report!</p>

    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    <form action="{{ url_for('login') }}" method=post>
        <dl>
            <dt>Username:
            <dd><input type="text" name="username">
            <dt>Password:
            <dd><input type="password" name="password">
            <dd><input type="submit" value="Login">
        </dl>
    </form>
{% endblock %}
